//@import "bootstrap";

@tailwind base;
@tailwind components;
@tailwind utilities;

$palette: (
        blue : #213A58,
        lightBlue : #0C6478,
        lighterBlue : #15919B,
        greenBlue : #09D1C7,
        lightGreenBlue: #46DFB1
);

#app {
  width: 100%;
  height: 100vh;
  display: flex;
  padding: 2rem;
  justify-content: flex-start;
  align-items: center;
  gap: 5px;
  background: linear-gradient(
                  180deg,
                  map-get($palette, blue) 25%,
                  map-get($palette, lightBlue) 50%,
                  map-get($palette, lighterBlue) 75%,
                  map-get($palette, greenBlue) 100%
  );
}

/* HTML: <div class="loader"></div> */
.loader {
  width: 40px;
  aspect-ratio: 1;
  color: map-get($palette, greenBlue);
  position: relative;
  background:
          conic-gradient(from 134deg at top   ,currentColor 92deg,#0000 0) top,
          conic-gradient(from -46deg at bottom,currentColor 92deg,#0000 0) bottom;
  background-size: 100% 50%;
  background-repeat: no-repeat;
}
.loader:before {
  content:'';
  position: absolute;
  inset: 0;
  --g:currentColor 14.5px,#0000 0 calc(100% - 14.5px),currentColor 0;
  background:
          linear-gradient( 45deg,var(--g)),
          linear-gradient(-45deg,var(--g));
  animation: l7 1.5s infinite cubic-bezier(0.3,1,0,1);
}
@keyframes l7 {
  33%  {inset:-10px;transform: rotate(0deg)}
  66%  {inset:-10px;transform: rotate(90deg)}
  100% {inset:0    ;transform: rotate(90deg)}
}