html {
  --active-player-color: #ec1515;
}

.input_container {
  input[type="color"],
  input[type="text"] {
    height: 30px;
    outline: none;
  }

  label {
    order: -1;
    padding-left: 5px;
    transition: all 0.3s ease-in;
    transform: translateY(25px);
    pointer-events: none;
  }

  input:focus + label {
    font-size: 30px;
    transform: translate(0, -20px);

    -moz-text-stroke-color: white;
    -webkit-text-stroke-color: white;
    -moz-text-stroke-width: 0.5px;
    -webkit-text-stroke-width: 0.5px;
  }
}

.player_container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
  margin-bottom: 10px;
}

.board_container {
  .main_cell {
    border-color: white !important;

    &.inactive:not(:has(.won)) {
      filter: blur(3px);
    }

    &.active {
      border: 2px solid var(--active-player-color)!important;
    }

    .cell_container {
      padding: 1rem;
      border: 1px solid transparent;

      .cell:nth-of-type(-n+3) {
        border-top-color: transparent;
      }

      .cell:nth-of-type(n+3) {
        border-bottom-color: transparent;
      }

      .cell {
        &:nth-of-type(1),
        &:nth-of-type(4),
        &:nth-of-type(7) {
          border-left-color: transparent;
        }


        &:nth-of-type(3),
        &:nth-of-type(6),
        &:nth-of-type(9) {
          border-right-color: transparent;
        }
      }
    }
  }

  .cell_container:not(.won) {
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: repeat(3, 1fr);
    aspect-ratio: 1/1;
    margin: auto;
    border: 1px solid white;

    border-collapse: collapse;

    &.main {
      max-height: 85vh;
    }

    .cell {
      border: 1px solid darkgoldenrod;
    }
  }
}

.active {
  border-bottom: 1px solid;
  font-weight: bolder;
}


body:has(#darkMode:checked) {
  background: black;
}
